@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@100;200;300;400;500;600;700&display=swap');
/* ANIMATION */

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ROOT */

:root {
    --background-color: #f2f1f1;
    --text-color: #000;
    --text-secondary-color: #fff;
    --main-color: #ff6102;
    --rgba-main-color: rgba(255, 99, 2, 0.1);
    --secondary-color: #999;
    --border-color: #000;
    --serif: 'Playfair Display', serif;
    --sans-serif: 'Glory', sans-serif;
}

/* BODY */

body {
    background-color: var(--background-color);
}

/* CUSTOM */

* {
    font-family: var(--sans-serif);
    scroll-behavior: smooth;
}

p, h1, h2, h3, h4, h5 {
    margin-bottom: 0;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

a.link {
    color: var(--text-color);
    text-decoration: none;
    transition: all .2s ease-in-out;
}

a.link:hover {
    color: var(--main-color);
}

a.logo {
    text-decoration: none;
}

.logo h1 {
    margin-bottom: 0;
    font-family: var(--serif);
    color: var(--text-color);
}

.logo span {
    color: var(--secondary-color);
    font-family: var(--serif);
}

.logo small {
    color: var(--main-color);
    font-family: var(--serif);
}

.logo.logo-sm h1 {
    font-size: 24px;
}

.logo.logo.logo-sm small {
    font-size: 15px;
}

ul.social {
    display: flex;
    justify-content: flex-end;
}

ul.social li a {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    width: 35px;
    height: 35px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 1px;
    transition: all .2s ease-in-out;
}

ul.social li a:hover {
    background-color: var(--main-color);
    color: var(--text-secondary-color);
}

.text-main {
    color: var(--main-color);
}

section.my-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--background-color);
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.main-header {
    padding: 10px 0;
}

/* NAVBAR */

.my-navbar {
    padding: 10px 0;
    background-color: var(--background-color);
}

.my-navbar-list {
    display: flex;
}

.my-navbar-list li a {
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
    transition: all .1s ease-in-out;
    font-family: var(--sans-serif);
    font-weight: 500;
}

.my-navbar-list li a:hover {
    color: var(--main-color);
}

/* HEADER SEARCH */

.search-form {
    display: flex;
    justify-content: flex-end;
    padding: 0 3px 6px;
    /* border-bottom: 1px solid #000; */
    width: 85%;
}

.search-input {
    width: 100%;
    padding: 2px 4px;
    border: none;
    outline: none;
    background: transparent;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
}

/* DROPDOWN */

.dropdown-button {
    position: relative;
}

.dropdown-container {
    position: absolute;
    top: 25px;
    left: 0;
    width: 200%;
    background-color: white;
    padding: 8px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 1px #999;
    display: none;
}

.dropdown-container a {
    padding: 5px 0;
    display: inline-block;
}

/* ACTIVE */

.active {
    color: var(--main-color) !important;
}

/* REQUIRED */

.required {
    color: red;
    text-decoration: none !important;
}

.required:hover {
    color: rgba(255, 0, 0, 0.8);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* SCROLL TO TOP */

.scroll-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: var(--main-color);
    color: white;
    text-decoration: none !important;
    padding: 6px;
    border-radius: 2px;
    display: none;
    -webkit-animation: fadeIn .2s ease-in-out;
    animation: fadeIn .2s ease-in-out;
}

/* BREADCRUM */

.breadcrum {
    width: 100%;
    display: flex;
    padding: 10px;
    margin-top: 205px;
    background: #fff;
    border-radius: 2px;
}

.breadcrum>li {
    margin-right: 10px;
}

.breadcrum>li>a {
    text-decoration: none;
    color: var(--main-color);
}

.breadcrum>li:last-child>a {
    color: var(--text-color);
}

/* LABEL */

.label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* BUTTON */

.button-md-main {
    background-color: var(--main-color);
    color: var(--text-secondary-color);
    border: none;
    outline: none;
    padding: 4px 8px;
    border-radius: 4px;
}

/* MAP */

.map {
    height: 200px;
    width: 100%;
}

/* FOOTER */

.bottom-footer {
    padding: 25px 0;
    border-top: 1px solid #fff;
}

/* USER ACTION */

.user-action {
    position: relative;
}

.user-action-container {
    position: absolute;
    top: 30px;
    right: 0;
    width: 200px;
    z-index: 2;
    background: var(--background-color);
    padding: 6px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px #999;
    display: none;
}

.user-action-container a {
    display: block;
    padding: 4px;
}

.user-action-item.link:hover {
    color: royalblue;
}

/* TOAST */

.my-toast-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.my-toast {
    display: flex;
    max-width: 450px;
    padding: 16px;
}

.my-toast p {
    margin-bottom: 0;
}

.my-toast span {
    display: inline-block;
    margin-left: 12px;
    cursor: pointer;
}

.my-toast-error {
    background-color: #a50202;
    color: white;
}

.my-toast-success {
    background-color: royalblue;
    color: white;
}

.split-header {
    margin-top: 200px;
}