#dashboard .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    box-shadow: 2px 4px 4px 4px rgba(153, 153, 153, 0.5);
    z-index: 1;
}

/* Sidebar */

.dashboard-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.dashboard-logo {
    border-bottom: 1px solid var(--main-color);
}

.aside-menu {
    margin: 24px 12px;
}

.aside-menu li a {
    padding: 12px 0;
    display: block;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside-menu li a>span>.aside-icon {
    width: 20px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-weight: 350;
}

.admin-aside-action {
    padding: 12px;
}

.admin-aside-action a {
    font-weight: 350;
    font-size: 16px;
}

/* Content */

.dashboard-content {
    background-color: var(--background-color);
}

.dashboard-container {
    margin: 24px;
}

.count-record {
    padding: 12px 18px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count-record-icon {
    background: var(--rgba-main-color);
    color: var(--main-color);
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 24px;
}

.count-record-content h5, .count-record-content p {
    margin-bottom: 0;
    text-align: right;
}

.count {
    padding: 12px;
    background: #fff;
    border-radius: 5px;
}

td.dashboard-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    height: 40px;
}

.aside-dropdown {
    display: none;
}

.aside-dropdown ul {
    margin-left: 36px;
}

.aside-dropdown a {
    padding: 6px 0 !important;
    font-size: 17px !important;
}

.link.admin-action-item:hover {
    color: rgba(0, 0, 0, 0.6);
}

.media-form, .padding-12 {
    padding: 12px;
    border-radius: 5px;
    background-color: #fff;
}

.media-container {
    padding: 12px;
    background-color: #fff;
    border-radius: 2px;
    height: 300px;
    cursor: pointer;
}

.media-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.media-container video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image-dropdown-button, .video-dropdown-button {
    cursor: pointer;
}

.media-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: #fff;
    width: 50vw;
    padding: 12px;
    display: none;
}

.media-content {
    height: 80vh;
}

.media-content img, .media-content video {
    object-fit: contain;
}

.media-link {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 6px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}